#dungeon {  background: transparent url(../tiles/dg_dungeon32.gif)        0    0 no-repeat;   height: 320px; width: 288px; }
#edging1_ {  background: transparent url(../tiles/dg_edging1_32.gif)        0    0 no-repeat; height: 512px; width: 256px; }
#edging2_ {  background: transparent url(../tiles/dg_edging2_32.gif)        0    0 no-repeat; height: 546px; width: 256px; }
#edging3_ {  background: transparent url(../tiles/dg_edging3_32.gif)        0    0 no-repeat; height: 442px; width: 256px; }
#extra {  background: transparent url(../tiles/dg_extra32.gif)        0    0 no-repeat; height: 512px; width: 288px; }
#features {  background: transparent url(../tiles/dg_features32.gif)        0    0 no-repeat; height: 418px; width:288px; }
#grounds {  background: transparent url(../tiles/dg_grounds32.gif)        0    0 no-repeat; height: 610px; width: 288px }}

#tiles {
    width: 600px;
    height: 600px;
    font-size: 10px
    padding: 5px;
}

body {
    font-family:"Arial","Helvetica","Verdana","sans-serif";
    font-size:10px;
}


#tabs {
width: 510px;
float: left;
}

#preview {
    width: 32px;
    height: 32px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    display: none;
    visibility: hidden;
}


#map div {
    font-size: small;
    color: white;
		background-color: green;
    float: left;
    border: 1px solid white;
    padding: 0px;
    margin: 0px;
    width: 32px;
    height: 32px;
    text-align: center;
}

div.ui-selected {
    opacity: 0.5;
}


#selection {
    visibiligy: hidden;
    display: none;
		margin-bottom: 2px;
}
.fl {
float: left;
}

.edit {
  margin-left: 5px;
 width: 75px;
}

.descr {
  width: 200px;
}

.edit span {
    font-size: x-small;
}

.help {
    margin-left: 5px;
    margin-right: 100px;
}

.fl span {
	font-style: italic;
}
#selection .fg-buttonset {
	height: 30px;

}

#menu {
	margin-bottom: 2px;
	font-size: small;
}

table {
	font-size: small;
}

#help-window h2 {
	font-size: 1.1em;
}

.map {
	margin-right: 10px;
}
